<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyiwen.goods.dao.BrandDao">
	<!-- List<Brand> queryAll(); -->
	<select id="queryAll" resultType="Brand">
		SELECT * FROM hg_brand 
	</select>

	<!-- Brand findById(int id); -->
	<select id="findById" resultType="Brand">
		SELECT * FROM hg_brand WHERE id=#{value}
	</select>
	<!-- " select * from t_car where car_type in (" + zhuijiachexing + ")"; -->
	<select id="select">
		select * from t_car where car_type in (${zhujiachexing});
	</select>
		
</mapper>