<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyiwen.user.dao.CartDao">
		
	<resultMap type="cart" id="CartMap">
		<id column="id" property="id"></id>
		<association property="sku" column="skuid" select="getSkuById"></association>
	</resultMap>
	
	<select id="getSkuById" resultType="com.zhuyiwen.goods.pojo.Sku">
		SELECT id,title,price,cart_thumbnail FROM hg_sku WHERE id=#{id}
	</select>

	<!-- 	int add(Cart cart); -->
	<insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO hg_cart(uid,skuid,pnum,createtime,updatetime)
				VALUES(#{uid},#{skuid},#{pnum},NOW(),NOW())
	</insert>

	<!-- int delete(int[] ids); -->
	<delete id="delete">
		DELETE FROM hg_cart WHERE id IN 
		<foreach collection="array" open="(" close=")" separator=","  item="id" >#{id}</foreach>
	</delete>
	<!-- List<Cart> list(int uid); -->
	<select id="list" resultMap="CartMap">
		SELECT * FROM hg_cart WHERE uid=#{value}
	</select>
	
	<!-- List<Cart> lists(int[] ids); -->
	<select id="lists" resultMap="CartMap">
		SELECT * FROM hg_cart WHERE id IN 
		<foreach collection="array" open="(" close=")" separator=","  item="id" >#{id}</foreach>
	</select>
	
	
</mapper>